{% extends "layout.html" %}
{% block extra_head %}

{% endblock %}
{%block content%}

<div class="container">
    <div class="card-columns">

    
    {%for x in challenges%}
 
            <div class="card bg-primary border-secondary">
                <div class="card-header d-flex">
                    <span class="mr-auto">
                        {{x.Name}}
                    </span>
                    <span class="ml-auto">
                        {{x.Category}}
                    </span>
                </div>
                <div class="card-body flex-column">
                    <p class="text-light card-text">{{x.Description}}</p><br />
                    <p>Creator: {{x.Creator}}</p><a href={{url_for('rise.subscribe', OID=x['_id'])}} class="card-link text-light">Subscribe</a>
                </div>
            </div>
 
    <br />
    {%endfor%}
</div>


{%endblock%}
