{% extends "layout.html" %}
{% block extra_head %}

{% endblock %}
{%block content%}

<div class="container">
    <div class="card-columns">

    
    {%for x in challenges%}
 
            <div class="card text-white bg-danger mb-3">
                <div class="card-header d-flex">
                    <span class="mr-auto h2">
                        {{x.Name}}
                    </span>
                    <span class="ml-auto">
                        <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/'+x.Category + '.png')}}">
                    </span>
                </div>
                <div class="card-body flex-column">
                    <p class="text-light card-text">{{x.Description}}</p><br />
                    <p>Creator: {{x.Creator}}</p><a href={{url_for('rise.subscribe', OID=x['_id'])}} class="card-link text-light">Subscribe</a>
                </div>
            </div>
 
    <br />
    {%endfor%}
</div>


{%endblock%}
