{% extends "layout.html" %}
{% block content %}
<font color=red> here are the challenges you've submitted: </font> <br />
    {%for item in yours %}
<div>
    name: {{item.name}}<br />
    description: {{item.description}}<br />
    points: {{item.points}}<br />
    <br />
</div>
    {%endfor%}

<font color=red> here are all the challenges, total: </font></ <br />
            {%for item in theirs %}
<div>
    name: {{item.name}}<br />
    description: {{item.description}}<br />
    points: {{item.points}}<br />
    submitter: {{item.submitter}} <br />
    <br />
</div>
     {%endfor%}


{% endblock %}
