{% extends "layout.html" %}
{% block extra_head %}

{% endblock %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-auto m-auto">
            <form method="post">
                <h1>Create!</h1>
                <div class="form-group"><label>Challenge Name</label><input type="text" placeholder="&quot;Running!&quot;, &quot;Jumping&quot;, etc" name="challenge_name" class="form-control form-control-sm" /></div>
                <div class="form-group"><label>Description</label><input type="text" placeholder="&quot;In this challenge, you...!&quot;" name="challenge_description" class="form-control" /></div>
                
                <div class="form-group">
                    <label for="category">Category: </label>
                    <select name="Category" class="form-control" id="category">
                        <option>Cardio</option>
                        <option>Nuitrition</option>
                        <option>Recreation</option>
                        <option>Yoga</option>
                        <option>Fitness</option>
                        <option>Strength</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-sm m-auto" type="submit">Submit!</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
