{% extends "layout.html" %}
{% block extra_head %}
<link rel="stylesheet" href={{url_for('static', filename='assets/css/Login-Form-Clean.css')}} />
{% endblock %}

{% block content %}
<div class="login-clean">

    <form method="post">
        <div class="illustration">
            <img src={{url_for('static', filename='assets/img/profile-placeholder.png')}} class="img-fluid rounded-circle img-responsive" width="300" height="300" alt="Cinque Terre">
        </div>
        <h2 class="sr-only">Login Form</h2>
        <div class="form-group"><input class="form-control" type="username" name="username" placeholder="Username" /></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" /></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a href={{url_for('auth.register')}} class="forgot">Need an account?</a>
    </form>
</div>
{%if errr%}

    <div> {{errr}} </div>
    
{%endif%}
{% endblock %}