{% extends "layout.html" %}

{% block content %}

<div class="row justify-content-center" style="background-color: #9c0000;">
    <div class="col-4">
        <div class="container-fluid d-flex">
            <form method="post">
                <img class="rounded-circle img-fluid" src={{url_for('static', filename='assets/img/7q65k.jpg')}} width="300" height="300">
                <input class="form-control" name="username" type="text" value="Username" id="username" style="margin: 0px;" required>
                <input class="form-control" name="password" type="text" value="Password" id="password" style="margin: 5px;width: 200px;" required>
                <div class="form-row justify-content-center">
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

