{% extends "layout.html" %}
{% block extra_head %}
<link rel="stylesheet" href={{url_for('static', filename='assets/css/styles.css')}} />
{% endblock %}

{%block content%}
<div class="container">

    <div>
        <div class="row">
            <div class="col-auto col-md-3 m-auto"><img src={{url_for('static', filename='assets/img/cat.jpg')}} width="300" height="300" class="rounded-circle img-fluid flex-shrink-1" /></div>
            <div class="col-md-4 align-self-center">
                <h1 class="text-nowrap text-center d-flex flex-grow-1 flex-shrink-1 m-auto">{{user_profile.Username}}</h1>
                <small>{{user_profile.first_name}} {{user_profile.last_name}}</small>
            </div>
            <div class="col m-auto offset-1">
                <h2>Badges</h2>
                <ul class="list-unstyled">
                    <li>
                        <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/cardio.png')}}">
                    </li>
                    <li>
                        <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/fitness.png')}}">
                    </li>
                    <li>
                        <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/nutrition.png')}}">
                    </li>
                    <li>
                        <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/strength.png')}}">
                    </li>
                    <li>
                        <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/yoga.png')}}">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 3%;">
        <div class="col">
            <h2>Created</h2>
            <ul class="list-unstyled">
                <!--Fill this area with the user's challenges they created -->
                <a class="link" href={{url_for('rise.create')}}>Make a new challenge</a>
                {% for x in user_profile.Challenges %}
                <li class="list-group-item">
                    <div class="card bg-primary border-secondary">
                        <div class="card-header d-flex">
                            <span class="mr-auto h2">
                                {{x.Name}}
                            </span>
                            <span class="ml-auto">
                                <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/'+x.Category + '.png')}}">
                            </span>
                        </div>
                        <div class="card-body flex-column">
                            <p class="text-light card-text">{{x.Description}}</p><br />
                            <p>Creator: {{x.Creator}}</p><a href={{url_for('rise.subscribe', OID=x['_id'])}} class="card-link text-light">Subscribe</a>
                        </div>
                    </div>
                </li>
                <br>
                {%endfor%}
            </ul>
        </div>
        <div class="col">
            <h2>Current</h2>
            <a class="link" href={{url_for('rise.see_challenges')}}>Find New Challenges</a>
            <ul class="list-unstyled">
                {% for x in user_profile.Subscriptions %}
                <li class="list-group-item">
                    <div class="card bg-primary border-secondary">
                        <div class="card-header d-flex">
                            <span class="mr-auto h2">
                                {{x.Name}}
                            </span>
                            <span class="ml-auto">
                                <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/'+x.Category + '.png')}}">
                            </span>
                        </div>
                        <div class="card-body flex-column">
                            <p class="text-light card-text">{{x.Description}}</p><br />
                            <p>Creator: {{x.Creator}}</p><a href={{url_for('rise.subscribe', OID=x['_id'])}} class="card-link text-light">Subscribe</a>
                        </div>
                    </div>
                </li>
                <br>
                {%endfor%}
            </ul>
        </div>
        <div class="col">
            <h2>Completed</h2>
            <ul class="list-unstyled">
                {% for x in user_profile.Finished %}
                <div class="card bg-primary border-secondary">
                    <div class="card-header d-flex">
                        <span class="mr-auto h2">
                            {{x.Name}}
                        </span>
                        <span class="ml-auto">
                            <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/'+x.Category + '.png')}}">
                        </span>
                    </div>
                    <div class="card-body flex-column">
                        <p class="text-light card-text">{{x.Description}}</p><br />
                        <p>Creator: {{x.Creator}}</p><a href={{url_for('rise.subscribe', OID=x['_id'])}} class="card-link text-light">Subscribe</a>
                    </div>
                </div>
                </li>
                <br>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>

    {%endblock%}
