{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    CSCE 3220 <br />
</address>

<address>
    <strong>Peter:</strong>   <a href="mailto:Support@example.com">Peter@example.com</a><br />
    <strong>Nicole:</strong> <a href="mailto:Marketing@example.com">Nicole@example.com</a><br />
    <strong>Brett:</strong> <a href="mailto:Marketing@example.com">brett@example.com</a><br />
    <strong>Drew:</strong> <a href="mailto:Marketing@example.com">Drew@example.com</a><br />
</address>

{% endblock %}
