{% extends "layout.html" %}


{%block extra_head%}
    <link rel="stylesheet" href={{url_for('static', filename='assets/css/Highlight-Red.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='assets/css/Highlight-Clean.css')}}>
{% endblock %}

{% block content %}

<div class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h1 class="text-center"><span>vurv</span></h1>
            <p class="text-center">Challenge your friends. Challenge yourself.</p>
        </div>
        {%if not g.user%}
        <div class="buttons">
            <a class="btn btn-primary" role="button" href={{url_for('auth.login')}}>Login</a>
            <a class="btn btn-light" role="button" href={{url_for('auth.register')}}>Register</a>
        </div>
        {%endif%}
    </div>
</div>
<div class="highlight-red">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <p>Cardio</p>
            </div>
            <div class="col-md-2">
                <p>Strength</p>
            </div>
            <div class="col-md-2">
                <p>Yoga & Stuff</p>
            </div>
            <div class="col-md-2">
                <p>Diet & Nutrition</p>
            </div>
            <div class="col-md-2">
                <p>I forgot</p>
            </div>
            <div class="col-md-2">
                <p>Recreation</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
