{% extends "layout.html" %}


{%block extra_head%}
    <link rel="stylesheet" href={{url_for('static', filename='assets/css/Highlight-Red.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='assets/css/Highlight-Clean.css')}}>
{% endblock %}

{% block content %}

<div class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h1 class="text-center"><span><img class="img-fluid" style="min-height:50px;height:50px;" src={{url_for('static', filename='assets/img/icons/vurv.png')}}></span></h1>
            <p class="text-center">Challenge your friends. Challenge yourself.</p>
        </div>
        {%if not g.user%}
        <div class="buttons">
            <a class="btn btn-primary" role="button" href={{url_for('auth.login')}}>Login</a>
            <a class="btn btn-light" role="button" href={{url_for('auth.register')}}>Register</a>
        </div>
        {%endif%}
    </div>
</div>
<div class="highlight-red">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 text-center">
                <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/cardio.png')}}">
                <p>Cardio</p>
            </div>
            <div class="col-md-2 text-center">
                <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/cat.jpg')}}">
                <p>Strength</p>
            </div>
            <div class="col-md-2 text-center">
                <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/yoga.png')}}">
                <p>Yoga & Stuff</p>
            </div>
            <div class="col-md-2 text-center">
                <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/nutrition.png')}}">
                <p>Diet & Nutrition</p>
            </div>
            <div class="col-md-2 text-center">
                <img class="img-responsive" style="min-height:60px;height:60px;" src="{{url_for('static', filename='assets/img/icons/recreation.png')}}">
                <p>Recreation</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
