{% extends "layout.html" %}


{%block extra_head%}
    <link rel="stylesheet" href={{url_for('static', filename='assets/css/Highlight-Blue.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='assets/css/Highlight-Clean.css')}}>
{% endblock %}

{% block content %}

<div class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Get Started!</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <div class="buttons"><a class="btn btn-primary" role="button" href={{url_for('auth.login')}}>Login</a>
        <button class="btn btn-light" type="button">Create Account</button></div>
    </div>
</div>
<div class="highlight-blue">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Highlight</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <div class="buttons"><a class="btn btn-primary" role="button" href="#">Primary</a></div>
    </div>
</div>

{% endblock %}
